*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  color: $blackish;
  background-color: $whiteish;
  @include respond(tab-port){
    font-size: 55%;
  }
}
body {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}
