.info {
  margin: 1.8rem 3rem;
  @include respond(phone){
    margin-top: 9rem;
  }

  &-title {
    font-size: 6rem;
    border-bottom: 2.5px solid $main-color;
    margin: 2rem auto;
    text-align: center;
    width: 90%;
  }

  &-content {
    width: 60rem;
    margin: 0 auto;

    &--text {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }

    &--map {
      width: 60rem;
      height: 45rem;
      @include respond(phone){
        width: 40rem;
        height: 32.5rem;
      }
    }
  }
}
