*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  color: #282828;
  background-color: #FFFCFF; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 55%; } }

body {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto; }

.event {
  height: 65rem;
  background-image: linear-gradient(to right bottom, rgba(55, 163, 210, 0.8), rgba(30, 102, 133, 0.8)), url(../img/code-background.jpg);
  background-size: cover;
  background-position: top;
  display: grid;
  place-items: center; }
  .event-content {
    text-align: center;
    color: #FFFCFF; }
    @media only screen and (max-width: 37.5em) {
      .event-content {
        width: 95%; } }
    .event-content--title {
      font-size: 8rem;
      text-transform: capitalize;
      margin-bottom: 1.5rem; }
      @media only screen and (max-width: 37.5em) {
        .event-content--title {
          font-size: 6.5rem; } }
    .event-content--desc {
      font-size: 3.5rem;
      margin-bottom: 1.2rem; }
      @media only screen and (max-width: 37.5em) {
        .event-content--desc {
          font-size: 3rem; } }
    .event-content--button {
      font-size: 2.8rem;
      margin-top: 1.5rem;
      padding: 2rem 6rem;
      border-radius: 10px;
      background-color: #E8985E;
      color: #FFFCFF;
      transition: all .2s;
      cursor: pointer; }
      @media only screen and (max-width: 37.5em) {
        .event-content--button {
          font-size: 2.5rem;
          padding: 2rem 5.5rem; } }
      .event-content--button:active {
        transform: translateY(2px); }

.speaker {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-row-gap: 3rem;
  width: 90%;
  margin: 6rem auto;
  /****** Flipcard ********/ }
  @media only screen and (max-width: 87.5em) {
    .speaker {
      grid-template-columns: repeat(4, 25%); } }
  @media only screen and (max-width: 75em) {
    .speaker {
      grid-template-columns: repeat(3, 33.3%); } }
  @media only screen and (max-width: 56.25em) {
    .speaker {
      grid-template-columns: repeat(2, 50%); } }
  @media only screen and (max-width: 37.5em) {
    .speaker {
      grid-template-columns: 100%; } }
  .speaker-title {
    font-size: 6rem;
    margin: 5rem auto;
    text-align: center;
    color: #282828;
    text-decoration: underline; }
  .speaker-person {
    width: 25rem;
    height: 25rem;
    margin: 0 auto;
    position: relative;
    perspective: 150rem; }
    @media only screen and (max-width: 75em) {
      .speaker-person {
        height: 40rem; } }
    .speaker-person-card {
      width: 25rem;
      height: 25rem;
      position: absolute;
      backface-visibility: hidden;
      transition: all 1s ease;
      box-shadow: 5px 3px 5px #247BA0; }
      @media only screen and (max-width: 75em) {
        .speaker-person-card {
          height: 20rem; } }
    .speaker-person-front {
      background-image: linear-gradient(to right bottom, rgba(248, 248, 248, 0.8), rgba(245, 245, 245, 0.8)), url(../img/layout-background.jpg);
      background-size: cover;
      border: 5px solid #247BA0;
      border-radius: 4px;
      place-self: center;
      text-align: center;
      display: grid;
      place-items: center; }
      @media only screen and (max-width: 75em) {
        .speaker-person-front {
          border: none; } }
    .speaker-person-back {
      background-image: linear-gradient(to right bottom, rgba(55, 163, 210, 0.8), rgba(30, 102, 133, 0.8)), url(../img/layout-background.jpg);
      background-size: cover;
      border: 3px solid #282828;
      border-radius: 4px;
      transform: rotateY(180deg);
      text-align: center; }
      @media only screen and (max-width: 75em) {
        .speaker-person-back {
          transform: rotate(0);
          margin-top: 18.5rem;
          border: none;
          border-top-left-radius: 0;
          border-top-right-radius: 0; } }
    .speaker-person:hover .speaker-person-front {
      transform: rotateY(-180deg); }
      @media only screen and (max-width: 75em) {
        .speaker-person:hover .speaker-person-front {
          transform: none; } }
    .speaker-person:hover .speaker-person-back {
      transform: rotateY(0deg); }
    .speaker-person--img {
      border-radius: 4px; }
    .speaker-person--name {
      margin-top: -5rem;
      color: #247BA0;
      font-size: 2.5rem; }
      @media only screen and (max-width: 75em) {
        .speaker-person--name {
          margin-top: -3rem; } }
    .speaker-person--title {
      font-size: 2.5rem;
      margin: 2.2rem 0 .5rem 0; }
      @media only screen and (max-width: 75em) {
        .speaker-person--title {
          margin-top: 1rem; } }
    .speaker-person--about {
      font-size: 1.5rem; }
    .speaker-person--topic {
      font-size: 2.3rem; }
    .speaker-person--social {
      margin-top: 2.2rem;
      font-size: 2.8rem; }
      @media only screen and (max-width: 75em) {
        .speaker-person--social {
          margin-top: .8rem; } }
      .speaker-person--social i {
        margin-right: 1.4rem;
        cursor: pointer;
        transition: all .2s; }
        .speaker-person--social i:hover {
          transform: translateY(-3px); }
        .speaker-person--social i:active {
          transform: translateY(3px); }

.info {
  margin: 1.8rem 3rem; }
  .info-title {
    font-size: 6rem;
    border-bottom: 2.5px solid #247BA0;
    margin: 2rem auto;
    text-align: center;
    width: 90%; }
  .info-content {
    width: 60rem;
    margin: 0 auto; }
  .info-text {
    font-size: 2rem;
    margin-bottom: 1.5rem; }

.schedule {
  margin-bottom: 3rem; }
  .schedule-title {
    font-size: 6rem;
    text-align: center;
    margin: 2rem auto 0 auto;
    border-bottom: 2.5px solid #247BA0;
    width: 90%; }
  .schedule-days {
    margin: 2rem auto;
    display: flex;
    justify-content: space-evenly; }
    @media only screen and (max-width: 37.5em) {
      .schedule-days {
        flex-direction: column;
        height: 38rem; } }
    .schedule-days--box {
      width: 45rem;
      padding: .8rem 1rem;
      box-shadow: 3px 5px 5px #D3D3D3; }
      @media only screen and (max-width: 37.5em) {
        .schedule-days--box {
          margin: 0 auto; } }
    .schedule-days--title {
      font-size: 3rem;
      margin: 0 0 .8rem .3rem; }
    .schedule-days--text {
      font-size: 2rem;
      margin: 0 0 .5rem .8rem; }
  .schedule-table {
    margin: 2rem auto;
    padding: 0 2rem;
    font-size: 3rem; }
    .schedule-table tr:nth-child(odd) {
      background-color: #D3D3D3; }
    .schedule-table tr:hover {
      background-color: #37A3D2;
      color: #FFFCFF;
      font-weight: bold; }
    .schedule-table--offset {
      background-color: #FFFCFF; }

tr {
  text-align: center; }

th {
  width: 35rem;
  padding: 1rem;
  background-color: #247BA0;
  color: #FFFCFF; }

td {
  padding: 1rem; }

.header {
  width: 80%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .header-con {
    background-color: #282828; }
  .header-title {
    font-family: 'Oswald', sans-serif;
    font-size: 6.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: #FFFCFF; }
    @media only screen and (max-width: 37.5em) {
      .header-title {
        font-size: 5.2rem; } }
    .header-title-link {
      text-decoration: none; }
  .header-miniNav {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .header-miniNav {
        display: inline-block;
        margin-top: .8rem;
        font-size: 3.5rem;
        color: #247BA0;
        cursor: pointer;
        transition: all .3s; }
        .header-miniNav:active {
          transform: scale(1.2);
          color: #282828; } }
  .header-nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 2.8rem;
    font-weight: bolder; }
    @media only screen and (max-width: 37.5em) {
      .header-nav {
        display: none; } }
    .header-nav--item {
      padding-top: .7rem;
      margin-left: 2rem;
      color: #247BA0;
      text-align: center;
      cursor: pointer;
      transition: all .3s; }
      .header-nav--item:hover {
        transform: translateY(-3px); }
      .header-nav--item:active {
        transform: translateY(3px); }
    .header-nav--link {
      color: #247BA0;
      text-decoration: none; }
      .header-nav--link:hover {
        color: #37A3D2; }

.footer {
  height: 8rem;
  background-color: #282828;
  color: #247BA0;
  display: grid;
  place-items: center; }
  .footer-socials {
    width: 88%;
    display: flex;
    flex-direction: row-reverse; }
    @media only screen and (max-width: 37.5em) {
      .footer-socials {
        width: 90%;
        justify-content: space-between;
        align-items: center; } }
  .footer-title {
    font-size: 2rem; }
  .footer-socials i {
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    transition: all .3s; }
    .footer-socials i:hover {
      transform: translateY(-2px) scale(1.1);
      color: #37A3D2; }
    .footer-socials i:active {
      transform: translateY(2px); }
