.speaker {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-row-gap: 3rem;
  width: 90%;
  margin: 6rem auto;
  @include respond(laptop) {
    grid-template-columns: repeat(4, 25%);
  }
  @include respond(tab-land) {
    grid-template-columns: repeat(3, 33.3%);
  }
  @include respond(tab-port) {
    grid-template-columns: repeat(2, 50%);
  }
  @include respond(phone) {
    grid-template-columns: 100%
  }

  &-title {
    font-size: 6rem;
    margin: 5rem auto;
    text-align: center;
    color: $blackish;
    text-decoration: underline;
  }

  /****** Flipcard ********/
  &-person {
    width: 25rem;
    height: 25rem;
    margin: 0 auto;
    position: relative;
    perspective: 150rem;
    @include respond(tab-land){
      height: 40rem;
    }

    &-card {
      width: 25rem;
      height: 25rem;
      position: absolute;
      backface-visibility: hidden;
      transition: all 1s ease;
      box-shadow: 5px 3px 5px $main-color;
      @include respond(tab-land){
        height: 20rem;
      }
    }

    &-front {
      background-image: linear-gradient(to right bottom, rgba(248,248,248, .8), 	rgba(245,245,245, .8)), url(../img/layout-background.jpg);
      background-size: cover;
      border: 5px solid $main-color;
      border-radius: 4px;

      place-self: center;
      text-align: center;

      display: grid;
      place-items: center;
      @include respond(tab-land){
        border: none;
      }
    }

    &-back {
      background-image: linear-gradient(to right bottom, rgba(55, 163, 210, .8), rgba(30,	102, 133, .8)), url(../img/layout-background.jpg);
      background-size: cover;
      border: 3px solid $blackish;
      border-radius: 4px;
      transform: rotateY(180deg);
      text-align: center;
      @include respond(tab-land){
        transform: rotate(0);
        margin-top: 18.5rem;
        height: 21rem;
        border: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &:hover .speaker-person-front {
      transform: rotateY(-180deg);
      @include respond(tab-land){
        transform: none;
      }
    }

    &:hover .speaker-person-back {
      transform: rotateY(0deg);
    }

    &--img {
      border-radius: 4px;
    }

    &--name {
      margin-top: -5rem;
      color: $main-color;
      font-size: 2.5rem;
      @include respond(tab-land){
        margin-top: -3rem;
      }
    }

    &--title {
      font-size: 2.5rem;
      margin: 2.2rem 0 .5rem 0;
      @include respond(tab-land){
        margin-top: 1rem;
      }
    }

    &--about {
      font-size: 1.5rem;
    }

    &--topic {
      font-size: 2.3rem;
    }

    &--social {
      margin-top: 2.2rem;
      font-size: 2.8rem;
      @include respond(tab-land){
        margin-top: .8rem;
      }

      & i {
        margin-right: 1.4rem;
        cursor: pointer;
        transition: all .2s;

        &:hover {
          transform: translateY(-3px);
        }
        &:active {
          transform: translateY(3px);
        }
      }
    }
  }
}
