.header {
  width: 80%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &-con {
    background-color: $blackish;
  }

  &-title {
    font-family: 'Oswald', sans-serif;
    font-size: 6.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: $whiteish;
    @include respond(phone){
      font-size: 5.2rem;
    }

    &-link {
      text-decoration: none;
    }
  }

  &-miniNav {
    display: none;
    @include respond(phone) {
      display: inline-block;
      margin-top: .8rem;
      font-size: 3.5rem;
      color: $main-color;
      cursor: pointer;
      transition: all .3s;

      &:active {
        transform: scale(1.2);
        color: $blackish;
      }
    }
  }

  &-nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 2.8rem;
    font-weight: bolder;
    @include respond(phone) {
      display: none;
    }

    &--item {
      padding-top: .7rem;
      margin-left: 2rem;
      color: $main-color;
      text-align: center;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        transform: translateY(-3px);
      }

      &:active {
        transform: translateY(3px);
      }
    }

    &--link {
      color: $main-color;
      text-decoration: none;

      &:hover {
        color: $main-color-lighter;
      }
    }
  }
}
