.header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include respond(phone){
    width: 95%;
    position: sticky;
  }
  @include respond(slim-phone){
    flex-direction: column;
    padding-bottom: 1rem;
  }


  &-con {
    background-color: $blackish;
    @include respond(phone){
      position: fixed;
      width: 100%;
      top: 0;
      right: 0;
      left: 0;
      z-index: 9999;
    }
  }

  &-title {
    font-family: 'Oswald', sans-serif;
    font-size: 6.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: $whiteish;
    @include respond(phone){
      font-size: 5.2rem;
    }

    &-link {
      text-decoration: none;
    }
  }


  &-nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 2.8rem;
    font-weight: bolder;
    @include respond(phone){
      width: 45%;

      font-size: 3.5rem;
      justify-content: space-between;
    }

    &--item {
      padding-top: .7rem;
      margin-left: 2rem;
      color: $main-color;
      text-align: center;
      cursor: pointer;
      transition: all .3s;
      @include respond(phone){
        margin-left: 0;
      }

      &:hover {
        transform: translateY(-3px);
      }

      &:active {
        transform: translateY(3px);
      }
    }

    &--link {
      color: $main-color;
      text-decoration: none;

      &:hover {
        color: $main-color-lighter;
      }

      &_text {
        @include respond(phone){
          display: none;
        }
      }
    }
  }
}
