*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  background-color: #FFFCFF;
  color: #50514F;
}
body {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}


/**************** HEADER *******************/
.header {
  width: 80%;
  margin: 4rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 4rem;
  font-weight: bolder;
  color: #1E6685;
}

.header-nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: 2rem;
}

.header-nav--item {
  background-color: #247BA0;
  color: #FFFCFF;
  padding: 1rem 1.8rem;
  margin-left: .8rem;
  align-self: center;
  border-radius: 2px;
}


/**************** Event *******************/
.event {
  height: 60rem;
  background-image: linear-gradient(to right bottom, rgba(36, 123, 160, .8), rgba(30,	102, 133, .8)), url(img/code-background.jpg);
  background-size: cover;
  background-position: top;
  display: grid;
  place-items: center;
}

.event-content {
  text-align: center;
  color: #FFFCFF;
}

.event-content--title {
  font-size: 5.5rem;
  margin-bottom: 1.5rem;
}

.event-content--desc {
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

.event-content--button {
  font-size: 2.8rem;
  margin-top: 1.5rem;
  padding: 2rem 6rem;
  border-radius: 10px;
  background-color: #E8985E;
  color: #FFFCFF;
}


/**************** Speakers *******************/
.speaker {
  margin: 6rem 0;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-row-gap: 3rem;
}

.speaker-person {
  width: 25rem;
  height: 25rem;
  border: 5px solid #247BA0;
  border-radius: 4px;

  place-self: center;
  text-align: center;

  display: grid;
  place-items: center;
}

.speaker-person--img {
}

.speaker-person--name {
  margin-top: -5rem;
  color: #247BA0;
  font-size: 2.5rem;
  text-decoration: underline;
}
