*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  background-color: #FFFCFF;

  --main-color: #247BA0;
  --main-color-darker: #1E6685;
  --main-color-lighter: #37A3D2;
  --second-color: #E8985E;
  --blackish: #282828;
  --whiteish: #FFFCFF;

  color: var(--blackish);
  background-color: var(--whiteish);
}
body {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

/**************** HEADER *******************/
.header {
  width: 80%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-con{
  background-color: var(--blackish);
}

.header-title {
  font-family: 'Oswald', sans-serif;
  font-size: 6.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--whiteish);
}

.header-nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: 2.8rem;
  font-weight: bolder;
}

.header-nav--item {
  padding-top: .7rem;
  text-align: center;
  margin-left: 1.8rem;
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
  cursor: pointer;
  transition: all .3s;
}

.header-nav--item:hover {
  transform: translateY(-3px);
}

.header-nav--item:active {
  transform: translateY(6px);
}


/**************** Event *******************/
.event {
  height: 65rem;
  background-image: linear-gradient(to right bottom, rgba(55, 163, 210, .8), rgba(30,	102, 133, .8)), url(img/code-background.jpg);
  background-size: cover;
  background-position: top;
  display: grid;
  place-items: center;
}

.event-content {
  text-align: center;
  color: #FFFCFF;
}

.event-content--title {
  font-size: 8rem;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

.event-content--desc {
  font-size: 3.5rem;
  margin-bottom: 1.2rem;
}

.event-content--button {
  font-size: 2.8rem;
  margin-top: 1.5rem;
  padding: 2rem 6rem;
  border-radius: 10px;
  background-color: var(--second-color);
  color: var(--whiteish);
  transition: all .2s;
}

.event-content--button:active {
  transform: translateY(2px);
  border: none;
}


/**************** Speakers *******************/
.speaker {
  margin: 6rem 0;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-row-gap: 3rem;
}

.speaker-title {
  font-size: 6rem;
  margin: 5rem auto;
  text-align: center;
  color: var(--main-color-darker);
  text-decoration: underline;
}

.speaker-person {
  width: 25rem;
  height: 25rem;
  border: 5px solid var(--main-color);
  border-radius: 4px;

  place-self: center;
  text-align: center;

  display: grid;
  place-items: center;
}

.speaker-person--img {
}

.speaker-person--name {
  margin-top: -5rem;
  color: var(--main-color);
  font-size: 2.5rem;
  text-decoration: underline;
}
